table, th, td {
  border-collapse: collapse;
}
ion-grid {
  width: 100%;
}

h1{
  font-size: 1rem;
}

.detailLpn{
  width: 100%;
  border: 1px solid #DDD !important;
  td,th{
    padding: 20px;
    font-size: .8rem;
    text-align: left;
  }
  th{
    color: #4291E4;
    text-transform: uppercase;
    border-bottom: 1px solid #DDD;
    background-color: #fff;

  }
  tr:nth-child(even) {background: #fff}
  tr:nth-child(odd) {background: #F4F8F9};

}

.btn-close{
  position: absolute;
  top: 10px;
  right: 10px;
}
