<ion-grid >
    <ion-row>
        <ion-col size="12">
            <h1><strong>Detalle Bulto:</strong> 1234800895</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <table class="detailLpn">
                <thead>
                <tr>
                    <th *ngFor="let head of headersTable">{{head.name}}</th>
                </tr>

                </thead>
                <tbody>
                <tr *ngFor="let product of listProducts">
                    <td> {{product.description}}</td>
                    <td> {{product.sku}}</td>
                    <td> {{product.quantity}}</td>
                </tr>
                </tbody>
            </table>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-right>
            <ion-button (click)="close()">Aceptar</ion-button>
        </ion-col>
    </ion-row>

    <ion-button (click)="close()" color="dark" fill="clear" class="btn-close">
        <ion-icon slot="icon-only"  name="md-close"></ion-icon>
    </ion-button>

</ion-grid>



