$color-primary: #0275D8;
$color-primary-hover: darken($color-primary, 10%);
$color-secondary: #D3D3D3;
$color-secondary-hover: darken($color-secondary, 10%);


$color-text-secondary: #1991EB; // INPUTs

$color-text-third: #1C85E8;

$color-text-fourth: #626262;