ion-icon {

    &[class*="custom-"] {
       mask-size: contain;
       mask-position: 50% 50%;
       mask-repeat: no-repeat;
       background: currentColor;
       width: 1em;
       height: 1em;
    }

    &[class*="custom-search-icon"] {
        // mask-image: url('/assets/img/icons/search-icon.svg');
        mask-image: url('/assets/custom-icons/search-icon.svg');
    }

    &[class*="custom-check-icon"] {
        // mask-image: url('/assets/img/icons/search-icon.svg');
        mask-image: url('/assets/custom-icons/icon-check.svg');
    }

    &[class*="custom-document-icon"] {
        // mask-image: url('/assets/img/icons/search-icon.svg');
        mask-image: url('/assets/custom-icons/icon-document.svg');
    }

    &[class*="custom-information-icon"] {
        // mask-image: url('/assets/img/icons/search-icon.svg');
        mask-image: url('/assets/custom-icons/icon-information.svg');
    }

    &[class*="custom-modal-close-icon"] {
        // mask-image: url('/assets/img/icons/search-icon.svg');
        mask-image: url('/assets/custom-icons/icon-modal-close.svg');
    }

    &[class*="custom-store-reception-icon"] {
        // mask-image: url('/assets/img/icons/search-icon.svg');
        mask-image: url('/assets/custom-icons/icon-store-reception.svg');
    }
}