<div class="modal-content">
  <ion-icon class="custom-modal-close-icon icon close"
    (click)="finish()"
  ></ion-icon>

  <div class="header">
    <div class="icon">

      <svg width="60px" height="60px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
        <title>Group 34</title>
        <desc>Created with Sketch.</desc>
        <g id="Recepción-Bultos-en-Tienda---v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Group-34">
                <circle id="Oval-Copy-7" fill="#EAEAEA" cx="30" cy="30" r="30"></circle>
                <polygon id="Path-4" fill="#FFFFFF" points="23 44.2943091 23 15 43 15 43 40.6202608 38.720069 45 23.7318066 45"></polygon>
                <g id="Group-24" transform="translate(15.000000, 14.000000)">
                    <ellipse id="Oval" fill="#94C1FF" cx="8.80357143" cy="14.4516129" rx="7.76785714" ry="7.74193548"></ellipse>
                    <path d="M27.0412163,0 L8.16741399,0 C7.08732653,0 6.20856453,0.870389691 6.20856453,1.94018674 L6.20856453,6.2819826 C2.62820405,7.29685152 0,10.5680043 0,14.4358172 C0,18.3036301 2.62813835,21.5747828 6.20856453,22.5896518 L6.20856453,30.0598133 C6.20856453,31.1296103 7.08732653,32 8.16741399,32 L23.5909551,32 C23.7739484,32 23.9493854,31.9280207 24.0788277,31.7998768 L28.7979518,27.1256485 C28.9273283,26.9975046 29,26.8236739 29,26.6424241 L29,1.94018674 C29,0.870389691 28.1213037,0 27.0412163,0 Z M8.16741399,1.36669534 L27.0412163,1.36669534 C27.3604196,1.36669534 27.6201584,1.62395947 27.6201584,1.94018674 L27.6201584,4.00253001 L7.58840616,4.00253001 L7.58840616,1.94018674 C7.58840616,1.62395947 7.84814492,1.36669534 8.16741399,1.36669534 Z M1.37984162,14.4357521 C1.37984162,10.513792 4.60124616,7.32307905 8.56093168,7.32307905 C12.5206172,7.32307905 15.7420217,10.513792 15.7420217,14.4357521 C15.7420217,18.3577122 12.5206172,21.5484902 8.56093168,21.5484902 C4.60124616,21.5484902 1.37984162,18.3577122 1.37984162,14.4357521 Z M7.58820904,30.0597482 L7.58820904,22.8601273 C7.90774093,22.8960518 8.23213513,22.9151856 8.56099738,22.9151856 C11.1324308,22.9151856 13.4424828,21.7862301 15.0130711,20.0026927 L19.2403802,20.0026927 C19.6214136,20.0026927 19.930301,19.6967482 19.930301,19.319345 C19.930301,18.9419419 19.6214136,18.6359974 19.2403802,18.6359974 L15.9957155,18.6359974 C16.5958152,17.5979597 16.9802653,16.4229271 17.0893385,15.1709691 L19.2403145,15.1709691 C19.6213479,15.1709691 19.9302353,14.8650246 19.9302353,14.4876214 C19.9302353,14.1102183 19.6213479,13.8042738 19.2403145,13.8042738 L17.0980775,13.8042738 C17.0047739,12.5551142 16.6368162,11.3805372 16.0542602,10.3393106 L19.2402488,10.3393106 C19.6212822,10.3393106 19.9301696,10.0333661 19.9301696,9.65596292 C19.9301696,9.27855976 19.6212822,8.97261525 19.2402488,8.97261525 L15.1024323,8.97261525 C13.5308584,7.12933372 11.1817109,5.95631863 8.56080026,5.95631863 C8.23193801,5.95631863 7.90754381,5.97545236 7.58820904,6.01137693 L7.58820904,5.36922536 L27.6199613,5.36922536 L27.6199613,25.9589463 L24.8596866,25.9589463 C23.7795335,25.9589463 22.9009029,26.829336 22.9009029,27.8990679 L22.9009029,30.6331745 L8.16741399,30.6331745 C7.84814492,30.6331745 7.58820904,30.3759754 7.58820904,30.0597482 Z M24.2809416,29.6667256 L24.2809416,27.899133 C24.2809416,27.5829057 24.5406804,27.3257067 24.8598838,27.3257067 L26.6444789,27.3257067 L24.2809416,29.6667256 Z" id="Shape-Copy-3" fill="#116FFF" fill-rule="nonzero"></path>
                    <path d="M21.9134119,10.3225806 L24.1758738,10.3225806 C24.552129,10.3225806 24.8571429,9.97596313 24.8571429,9.5483871 C24.8571429,9.12081106 24.552129,8.77419355 24.1758738,8.77419355 L21.9134119,8.77419355 C21.5371567,8.77419355 21.2321429,9.12081106 21.2321429,9.5483871 C21.2321429,9.97596313 21.5371567,10.3225806 21.9134119,10.3225806 Z" id="Path-Copy" fill="#116FFF" fill-rule="nonzero"></path>
                    <path d="M21.9134119,15.483871 L24.1758738,15.483871 C24.552129,15.483871 24.8571429,15.1372535 24.8571429,14.7096774 C24.8571429,14.2821014 24.552129,13.9354839 24.1758738,13.9354839 L21.9134119,13.9354839 C21.5371567,13.9354839 21.2321429,14.2821014 21.2321429,14.7096774 C21.2321429,15.1372535 21.5371567,15.483871 21.9134119,15.483871 Z" id="Path-Copy-3" fill="#116FFF" fill-rule="nonzero"></path>
                    <path d="M21.9134119,20.1290323 L24.1758738,20.1290323 C24.552129,20.1290323 24.8571429,19.7824147 24.8571429,19.3548387 C24.8571429,18.9272627 24.552129,18.5806452 24.1758738,18.5806452 L21.9134119,18.5806452 C21.5371567,18.5806452 21.2321429,18.9272627 21.2321429,19.3548387 C21.2321429,19.7824147 21.5371567,20.1290323 21.9134119,20.1290323 Z" id="Path-Copy-4" fill="#116FFF" fill-rule="nonzero"></path>
                    <path d="M24.1730372,24.7741935 C24.550859,24.7741935 24.8571429,24.427576 24.8571429,24 C24.8571429,23.572424 24.550859,23.2258065 24.1730372,23.2258065 L17.7733914,23.2258065 C17.3955696,23.2258065 17.0892857,23.572424 17.0892857,24 C17.0892857,24.427576 17.3955696,24.7741935 17.7733914,24.7741935 L24.1730372,24.7741935 Z" id="Path-Copy-5" fill="#116FFF" fill-rule="nonzero"></path>
                    <path d="M14.1497458,10.992371 L13.3096669,10.1557816 C13.0834161,9.93053592 12.7826665,9.80645161 12.4627021,9.80645161 C12.1427376,9.80645161 11.841988,9.93053592 11.6157372,10.1557816 L7.20942167,14.5437945 L5.99140561,13.3308377 C5.76522043,13.1056574 5.46440528,12.9815731 5.14450638,12.9815731 C4.82460748,12.9815731 4.52379233,13.1056574 4.29760715,13.330903 L3.45733149,14.1676231 C2.99040238,14.632678 2.99040238,15.3893964 3.45739707,15.8544513 L6.36239128,18.7473136 C6.58864204,18.9726899 6.88945719,19.0967742 7.20942167,19.0967742 C7.52938616,19.0967742 7.8302013,18.9726899 8.0563209,18.7474442 L14.1498114,12.6792645 C14.6167405,12.2142096 14.6167405,11.457426 14.1497458,10.992371 Z" id="Shape-Copy-4" fill="#116FFF" fill-rule="nonzero"></path>
                    <path d="M7.20935609,17.6512573 L4.55802506,15.0110045 L5.1444408,14.4270246 L6.7224251,15.9984544 C6.9913684,16.2662806 7.42734378,16.2662806 7.69628708,15.9984544 L12.4627021,11.2518379 L13.0491178,11.8358178 L7.20935609,17.6512573 Z" id="Path" fill="#FFFFFF"></path>
                </g>
            </g>
        </g>
      </svg>
      
    </div>
    <div class="title">Total Recepcionados</div>
  </div>

  <div class="body">

    <ion-row>
      <ion-col size="12" size-sm>
        <div class="item-total right">
          <span class="title">Bultos Recepcionados</span>
          <span class="amounts"><span class="number"> {{ navParams.data.received }} </span> de <span class="number"> {{ navParams.data.total }} </span></span>
        </div>
      </ion-col>
      <ion-col size="12" size-sm>
        <div class="item-total right">
          <span class="title">Recepcionado Sobrante</span>
          <span class="amounts"><span class="number"> {{ navParams.data.surplus }} </span></span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm>
        <div class="item-total wrong">
          <span class="title">Bultos con Observaciones</span>
          <span class="amounts"><span class="number"> {{ navParams.data.withObservations }} </span></span>
        </div>  
      </ion-col>
      <ion-col size="12" size-sm>
        <div class="item-total wrong">
          <span class="title">Bultos Faltantes</span>
          <span class="amounts"><span class="number"> {{ navParams.data.missing }} </span></span>
        </div>  
      </ion-col>
    </ion-row>
    
    <div class="buttons-bar">
      <ccc-button
        title="CANCELAR"
        type="secondary"
        class="ion-margin-end"
        (buttonClick)="finish()"
      ></ccc-button> <!-- class="block" -->

      <ccc-button
        title="CONFIRMAR"
        type="primary"
        (buttonClick)="confirm()"
      ></ccc-button> <!-- class="block" -->
    </div>

  </div>
</div>