@import '../../../assets/scss/colors';
@import '../../../assets/scss/mixins';

:host {
    display: inline-block;
    &.block {
        width: 100%;
        > .button {
            width: 100%;
            padding: 20px 20px;
        }
    }
}

.button {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 15px;
    padding: 16px 40px;
    @include transition-primary;
    border-radius: 2px;
    height: 55px;
    max-height: 55px;
    border-width: 2px;
    border-style: solid;

    .title, .icon {
        line-height: 15px;
        display: inline-block;
        vertical-align: middle;
    }

    .icon {
        font-size: 15px;
        margin-left: 5px;
    }

    &:disabled {
        cursor: no-drop;
        pointer-events: none;
    }

    &.primary {
        color: #FFFFFF;
        background-color: $color-primary;
        border-color: $color-primary;
        &:hover {
            background-color: $color-primary-hover;
        }

        &:disabled {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            opacity: .65;
        }
    }

    &.secondary {
        color: $color-secondary-hover;
        background-color: #FFFFFF;
        border-color: $color-secondary;
        &:hover {
            color: #FFFFFF;
            background-color: $color-secondary-hover;
            border-color: $color-secondary-hover;
        }
    }

}
