<button class="button {{ type }}" [attr.disabled]="disabled ? '' : null" (click)="click()">
	<span class="title">{{ title }}</span>
	<ion-icon *ngIf="validatedIcon !== ''" class="{{ icon }} icon"></ion-icon>
</button>