:host {
    display: block;
}

.card-recepcion {
    border-radius: 2px;
    // margin: 0;
    
    &-header {
        padding: 0;
        display: flex;
        flex-direction: row;
  
        &-title, &-length {
            font-family: 'Avenir LT Std 85 Heavy';
            color: #FFFFFF;
            padding: 12px;
    
            > span {
                font-size: 14px;
                vertical-align: middle;
                line-height: 14px;
            }
        }
  
        &-title {
            flex: 1;
        }
  
        &-length {
            width: 100px;
            text-align: center;
        }
  
        &.card-por-recibir {
            .card-recepcion-header {
                &-title {
                    background-color: #34495E;
                }
                &-length {
                    background-color: #658CB3;
                }
            }
        }
  
        &.card-recibidos {
            .card-recepcion-header {
                &-title {
                    background-color: #1ABC9C;
                }
                &-length {
                    background-color: #2A8774;
                }
            }
        }
  
        &.card-con-observaciones {
            .card-recepcion-header {
                &-title {
                    background-color: #E74C3C;
                }
                &-length {
                    background-color: #C72818;
                }
            }
        }
    }
  
    &-content {
        padding: 12px;
        height: 400px;
        min-height: 400px;
        max-height: 400px;
    
        .scrolleable-content {
            width: 100%;
            height: 100%;
            overflow-y: scroll; 
        }
    
        .items-list {
            padding: 0;
            margin: 0;
            list-style: none;
            > .item {
                font-family: 'Avenir LT Std 35 Light';
                font-size: 13px;
                color: #020205;
            }

            &.observations {
                > .item {
                    display: flex;
                    justify-items: center;
                    flex-direction: row;
                    align-items: center;
                    > span {
                        &:first-child {
                            max-width: 50%;
                            width: 50%;
                            display: inline-block;
                            text-align: left;
                        }
                        &:last-child {
                            width: 50%;
                            max-width: 50%;
                            display: inline-block;
                            text-align: right;
                        }
                    }
                }
            }
        }
  
        &.with-input {
            // background-color: green;
            padding: 0;
            display: flex;
            flex-direction: column;
    
            .scrolleable-content {
                flex: 1;
                // height: auto;
                // background-color: yellow;
                padding: 12px;
                overflow-y: hidden;
    
                >.container {
                    overflow-y: scroll;
                    width: 100%;
                    height: 100%;
                }
            }
    
            .input-area {
                height: 40px;
                // background-color: red;
        
        
                // border-top: solid 1px #E7E9EA;
                /*
                &:focus {
                    border: solid 1px rgba(26,188,156,0.3);
                }
                */
        
                .input-recibidos {
                    --color: #000000;
                    // --padding: 12px;
        
                    font-family: 'Avenir LT Std 65 Medium';
                    
                    --padding-start: 12px;
                    --padding-end: 12px;
        
                    border: solid 1px rgba(26,188,156,0.3);
        
                    &:focus {
                        border: solid 1px red;
                    }

                    /* input {
                    --border: solid 1px green;
                    } */
                    
                    /* :host-context(input) {
                    background-color: blue;
                    } */
                }
            }
        }
    }
}
  