<ion-card class="card-recepcion">
	<ion-card-header class="card-recepcion-header {{ className }}">
		<div class="card-recepcion-header-title">
			<span>{{ title }}</span>
		</div>
		<div class="card-recepcion-header-length" *ngIf="list.length > 0">
			<span>{{ list.length }}</span>
		</div>
	</ion-card-header>

	<ion-card-content class="card-recepcion-content" [ngClass]="{ 'with-input': type === 'input' }">
		<div class="scrolleable-content">
			<ul class="items-list" *ngIf=" type === undefined && !validatedObservations ">
				<li class="item" *ngFor="let item of list">
					{{ item.lpnId }}
				</li>
			</ul>

			<div class="container" *ngIf=" type === 'input' ">
				<ul class="items-list">
					<li class="item" #name *ngFor="let item of list.reverse()">
						{{ item.lpnId }}
					</li>
				</ul>
			</div>

			<ul class="items-list observations" *ngIf=" validatedObservations ">
				<li class="item" *ngFor="let item of list">
					<span>{{ item.lpnId }}</span>
					<span>{{ item.observation }}</span>
				</li>
			</ul>
		</div>

		<div class="input-area" *ngIf=" type === 'input' ">
			<ion-input
				appAutoFocus
				[(ngModel)]="model"
				class="input-recibidos"
				placeholder="Ingrese LPN"
				(keyup.enter)="sendInput()"
				[attr.disabled]="disabled ? '' : null"
			></ion-input>
		</div>
	</ion-card-content>
</ion-card>