<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                
                <h1 class="page-title">
                    <ion-icon class="custom-store-reception-icon icon"></ion-icon>
                    <span class="text">Recepción en Tienda</span>
                </h1>
                <!-- <pre>{{ storeReceptionDisabled | json }}</pre> -->
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" size-lg="8">

                <ion-card class="card-container-input">
                    <ion-card-content>

                        <ion-row>
                            <ion-col size="12" size-lg="8">

                                <ccc-input-text
                                    type="text"
                                    placeholder="Documento de Recepción"
                                    icon="custom-document-icon"
                                    [(model)]="gdd"
                                    [hasModal]="true"
                                    (modalCallback)="inputDocumentReceptionModal()"
                                    [disabled]="storeReceptionDisabled.receptionDocumentDisabled"
                                ></ccc-input-text>

                            </ion-col>
                            <ion-col size="12" size-lg="4" class="ion-text-right ion-text-lg-left">

                                <ccc-button
                                    title="BUSCAR"
                                    icon="custom-search-icon"
                                    (buttonClick)="getLpnForGdd()"
                                    type="primary"
                                    [disabled]="storeReceptionDisabled.receptionDocumentDisabled"
                                ></ccc-button> <!-- (click)="getLpnForGdd()" class="block" -->

                            </ion-col>
                        </ion-row>

                    </ion-card-content>
                </ion-card>
               

                <!-- <p>gdd: {{ gdd }}</p> -->
                
                <!-- <ccc-input-text
                    type="text"
                    placeholder="Documento de Recepción"
                    icon="custom-document-icon"
                    [(model)]="gdd"
                    [hasModal]="true"
                    (modalCallback)="inputDocumentReceptionModal()"

                    class="ion-margin-bottom"
                ></ccc-input-text> -->
                <!-- (modelChange)="modelChanged($event)" -->

                <!-- <ccc-input-text
                    placeholder="Test 2"
                    type="text"

                    class="ion-margin-bottom"
                ></ccc-input-text> -->

                <!-- <ccc-button
                    title="BUSCAR"
                    icon="custom-search-icon"
                    (click)="getLpnForGdd()"
                ></ccc-button> --> <!-- class="block" -->


            </ion-col>

            <ion-col size="12" size-lg="4">

                <ion-card class="card-container-user">
                    <ion-card-content>
                        <ul class="user-data-list">
                            <li><span class="title">Usuario:</span> {{ user.userId }}</li>
                            <li><span class="title">Negocio:</span> {{ user.business }}</li>
                            <li><span class="title">Tienda de Recepcion:</span> {{ user.receptionShop }}</li>
                        </ul>
                    </ion-card-content>
                </ion-card>

            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col size="12" size-lg="4">

                <!-- POR RECIBIR -->
                <card-reception
                    [title]="'Por Recibir'"
                    [className]="'card-por-recibir'"
                    [list]="listLpns.lpnsForRecieving"
                ></card-reception>

            </ion-col>
            <ion-col size="12" size-lg="4">

                <!-- RECIBIDOS -->
                <card-reception
                    [title]="'Recibidos'"
                    [className]="'card-recibidos'"
                    [list]="listLpns.lpnsReceived"
                    [type]="'input'"
                    [model]="lpnId"
                    (modelChange)="modelChanged($event)"
                    [disabled]="storeReceptionDisabled.lpnReadDisabled"
                ></card-reception>

            </ion-col>
            <ion-col size="12" size-lg="4">

                <!-- CON OBSERVACIONES -->
                <card-reception
                    [title]="'Bultos con Observaciones'"
                    [className]="'card-con-observaciones'"
                    [list]="listLpns.lpnsWithObservations"
                    [observations]="true"
                ></card-reception>

            </ion-col>
        </ion-row>
        <ion-row>
           
            <ion-col class="ion-text-end">

                <ccc-button
                    title="CANCELAR"
                    type="secondary"
                    class="ion-margin-end"
                    (buttonClick)="cancel()"
                    [disabled]="storeReceptionDisabled.confirmReceptionDisabled"
                ></ccc-button>

                <ccc-button
                    title="CONFIRMAR RECEPCIÓN"
                    icon="custom-check-icon"
                    (buttonClick)="openTotalReceivedModal()"
                    type="primary"
                    [disabled]="storeReceptionDisabled.confirmReceptionDisabled"
                ></ccc-button> <!-- (click)="openTotalReceivedModal()" (click)="getLpnForGdd()"  class="block" -->

                <!-- <ion-item>
                    <ion-button>
                        Cancelar
                        <ion-icon slot="end" name="star"></ion-icon>
                    </ion-button>
                    <ion-button
                        (click)="confirmReception()">
                        Confirmar
                        <ion-icon slot="end" name="star"></ion-icon>
                    </ion-button>
                </ion-item> -->

            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>
    
