.card-container-input, 
.card-container-user {
  height: 140px;
  display: flex;
  align-items: center;
  ion-card-content {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .card-container-input {
    height: initial;
  }
}

.card-container-user {
  .user-data-list {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      font-size: 15px;
      font-family: 'Avenir LT Std 45 Book';
      color: #020205;
      margin-bottom: 8px;
      > .title {
        font-family: 'Avenir LT Std 85 Heavy';
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

