<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col align-self-start>
                <ion-card class="blue-title-card" routerLink="/trazability" routerLinkActive="active">
                    <ion-card-header>
                        <ion-card-title name="title-card">Trazabilidad</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col align-self-end>
                <ion-card class="blue-title-card" routerLink="/reception" routerLinkActive="active">
                    <ion-card-header>
                        <ion-card-title name="title-card">Recepcion</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col align-self-end>
                <ion-card class="blue-title-card" routerLink="/about" routerLinkActive="active">
                    <ion-card-header>
                        <ion-card-title name="title-card">ABOUT</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
