<ion-content size="12">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-search-form (messageEvent)="receiveForm($event)"></app-search-form>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="orders">
      <ion-col size="12">
        <table class="table-trazability">
          <thead>
            <tr>
              <th>Orden<br />de Compra</th>
              <th>Suborden</th>
              <th>RUT Cliente</th>
              <th>3ER RUT<br />Habilitado</th>
              <th>Negocio<br />de Origen</th>
              <th>Punto<br />de Retiro</th>
              <th>Fecha<br />de Compra</th>
              <th>Fecha<br />de Retiro</th>
              <th>Estado<br />de la OC</th>
              <th>Alertas</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let order of orders">
              <tr (click)="details(order.number)">
                <td class="orderNumber">{{order.number}}</td>
                <td>{{order.subOrder}}</td>
                <td>{{order.userId}}</td>
                <td>{{order.thirdId}}</td>
                <td>{{order.originBusiness}}</td>
                <td>{{order.retirementPoint}}</td>
                <td>{{order.dateCreation}}</td>
                <td>{{order.dateRetirement}}</td>
                <td>{{order.ocState}}</td>
                <td>{{order.number}}</td>
              </tr>
              <tr class="inactive" [ngClass]="{ 'active': buffer == order.number }">
                <td colspan="10" >
                  <ion-grid size="12">
                    <ion-row>
                      <ion-col size="4">
                        <ion-card no-padding>
                          <ion-card-header color="primary" text-uppercase>
                            Bultos 2
                          </ion-card-header>
                          <!-- <ion-card-content *ngFor="let var of variable"> -->
                          <ion-card-content no-padding>
                            <ion-grid class="elementList activeElement">
                              <ion-row>
                                <ion-col>
                                  <ul class="listDetail">
                                    <li><span class="order-number">{{order.number}}</span></li>
                                    <li><strong>Mesa de Terraza</strong></li>
                                    <li>Cantidad 1</li>
                                    <li><app-orders-table></app-orders-table></li>
                                  </ul>
                                </ion-col>
                                <ion-col text-right>
                                  <span class="badge" text-uppercase>En Ruta XD</span>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                            <ion-grid class="elementList">
                              <ion-row>
                                <ion-col>
                                  <ul class="listDetail">
                                    <li><span class="order-number">{{order.number}}</span></li>
                                    <li><strong>Mesa de Terraza</strong></li>
                                    <li>Cantidad 1</li>
                                    <li><app-orders-table></app-orders-table></li>
                                  </ul>
                                </ion-col>
                                <ion-col text-right>
                                  <span class="badge" text-uppercase>En Ruta XD</span>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                            <ion-grid class="elementList">
                              <ion-row>
                                <ion-col>
                                  <ul class="listDetail">
                                    <li><span class="order-number">{{order.number}}</span></li>
                                    <li><strong>Mesa de Terraza</strong></li>
                                    <li>Cantidad 1</li>
                                    <li><app-orders-table></app-orders-table></li>
                                  </ul>
                                </ion-col>
                                <ion-col text-right>
                                  <span class="badge" text-uppercase>En Ruta XD</span>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                            <ion-grid class="elementList">
                              <ion-row>
                                <ion-col>
                                  <ul class="listDetail">
                                    <li><span class="order-number">{{order.number}}</span></li>
                                    <li><strong>Mesa de Terraza</strong></li>
                                    <li>Cantidad 1</li>
                                    <li><app-orders-table></app-orders-table></li>
                                  </ul>
                                </ion-col>
                                <ion-col text-right>
                                  <span class="badge" text-uppercase>En Ruta XD</span>
                                </ion-col>
                              </ion-row>
                            </ion-grid>

                          </ion-card-content>
                        </ion-card>
                      </ion-col>
                      <ion-col size="8">
                        <ion-card>
                          <ion-card-header class="header-bitacora" text-uppercase>
                            Bitácora de Trazabilidad
                          </ion-card-header>
                          <ion-card-content>
                            <ion-grid>
                              <ion-row>
                                <ion-col>
                                  <ul class="listBitacora">
                                    <li class="done">
                                      <ion-icon color="primary" name="calendar" ios="ios-calendar" md="md-calendar" margin-end> </ion-icon>
                                      <span class="stateBitacora">En Preparación</span>
                                      <span class="userBitacora">Usuario: Tomás Briceño L.</span>
                                    </li>
                                    <li class="activeStateBitacora todo">
                                      <ion-icon color="primary" name="calendar" ios="ios-calendar" md="md-calendar" margin-end> </ion-icon>
                                      <span class="stateBitacora">En Preparación</span>
                                      <span class="userBitacora">Usuario: Tomás Briceño L.</span>
                                    </li>
                                    <li class="todo">
                                      <ion-icon color="primary" name="calendar" ios="ios-calendar" md="md-calendar" margin-end> </ion-icon>
                                      <span class="stateBitacora">Recepcionado en tramo 1</span>
                                    </li>
                                    <li class="todo">
                                      <ion-icon color="primary" name="calendar" ios="ios-calendar" md="md-calendar" margin-end> </ion-icon>
                                      <span class="stateBitacora">Producto en ruta a tienda de despacho</span>
                                    </li>
                                    <li class="todo">
                                      <ion-icon color="primary" name="calendar" ios="ios-calendar" md="md-calendar" margin-end> </ion-icon>
                                      <span class="stateBitacora">Producto recepcionado en punto de retiro</span>
                                    </li>
                                  </ul>
                                </ion-col>
                                <ion-col text-right>
                                  <ul class="listBitacora">
                                    <li><span class="dateBitacora">10:30 am - 22 de Mayo 2019</span></li>
                                    <li class="activeStateBitacora">05:23 am - 23 de Mayo 2019</li>
                                  </ul>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-card-content>
                        </ion-card>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
