.active {
  display: table-row !important;

}

.inactive {
  display: none;
}

.table-trazability {
  width: 100%;
  border: 1px solid #DDD;

  tr:nth-child(3n) {
    background: #f1f1f1
  }
}

th {
  text-transform: uppercase;
  color: #4291E4;
}

th, td {
  padding: 20px;
  border-bottom: 1px solid #DDD;
  font-size: .8rem;
  text-align: left;
}

.orderNumber {
  text-decoration: underline;
  cursor: pointer;
}

.listDetail {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.badge {
  border-radius: 20px;
  border: 1px solid #D0E3F3;
  color: #4291E4;
  padding: 4px 12px;
  font-size: .8rem;
}

.order-number {
  text-decoration: underline;
  color: #2F75D1;
}

.listDetail {
  li:last-child {
    margin-top: 10px;
  }
}

.elementList.activeElement {
  background-color: #EEF7FE;
}

.elementList {
  border-bottom: 1px solid #DDD;
  padding: 24px;

  &:last-child {
    border: none;
  }
}

.header-bitacora {
  color: #666;
  background-color: #F5F5F5;
  border-bottom: 1px solid #DDD;
}

ion-card-content {
  max-height: 415px;
  overflow-y: auto;
}

.todo {
  border-left: 1px solid #999999;

  &:last-child {
    border-left: none;
  }
}

.done {
  border-left: 1px solid #44dc19;

  &:last-child {
    border-left: none;
  }
}

.listBitacora {
  padding-left: 0;
  list-style-type: none;

  .activeStateBitacora {
    font-weight: 700;
  }

  li {
    height: 75px;
  }

  ion-chip {
    margin-left: -20px;
  }
}
