
  <ion-item>
    <ion-textarea id="input-massive-order" [(ngModel)]="orderList"  placeholder="Ingrese id de ordenes de compra separadas por espacio, comas o saltos de linea"></ion-textarea>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="finish()">Search</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="cancel()" fill="outline">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

