@import '../../../assets/scss/colors';
@import '../../../assets/scss/mixins';

.modal-content {    
    .header {
        height: 60px;
        display: flex;
        width: 100%;
        flex-direction: row;
        .icon {
            // background-color: red;
            width: 60px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
        }
        .title {
            // background-color: blue;
            flex: 1;
            align-items: center;
            display: flex;
            color: #212529;
            font-family: 'Avenir LT Std 85 Heavy';
            font-size: 24px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    .body {
        padding: 40px 0;

        .list-brand {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin-bottom: 60px;
                .logo-brand {
                    width: 130px;
                    margin-bottom: 15px;
                }

                .description {
                    font-size: 14px;
                    color: #212529;
                    font-family: 'Avenir LT Std 45 Book';
                    margin: 0;
                    margin-bottom: 20px;
                    .title {
                        font-family: 'Avenir LT Std 85 Heavy';
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.close {
    position: absolute;
    font-size: 18px;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #908f8f;
    @include transitions(color .3s ease);

    &:hover {
        color: $color-text-secondary;
    }
}
