<div class="modal-content">
  <ion-icon class="custom-modal-close-icon icon close"
    (click)="finish()"
  ></ion-icon>

  <div class="header">
    <div class="icon">

      <svg width="60px" height="60px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
          <title>Group 37 Copy 8</title>
          <desc>Created with Sketch.</desc>
          <g id="Recepción-Bultos-en-Tienda---v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Group-37-Copy-8">
                  <g id="Group-37-Copy">
                      <circle id="Oval-Copy-7" fill="#EDEDED" cx="30" cy="30" r="30"></circle>
                      <g id="Group-13" transform="translate(16.000000, 14.000000)">
                          <g id="Group-12">
                              <rect id="Rectangle" fill="#FFFFFF" x="1.26086957" y="1.28" width="26.4782609" height="30.72"></rect>
                              <g id="Group-11" fill-rule="nonzero">
                                  <polygon id="Path-Copy-2" fill="#9BC9FF" points="5.64223161 6.4 9.42484031 6.4 9.42484031 10.24 5.64223161 10.24"></polygon>
                                  <polygon id="Path-Copy-6" fill="#9BC9FF" points="5.64223161 14.08 9.42484031 14.08 9.42484031 17.92 5.64223161 17.92"></polygon>
                                  <polygon id="Path-Copy-7" fill="#9BC9FF" points="5.64223161 21.76 9.42484031 21.76 9.42484031 26.88 5.64223161 26.88"></polygon>
                                  <path d="M0,0 L0,28.4444444 L0,32 L29,32 L29,0 L24.65,0 L0,0 Z M27.7391304,30.72 L1.26086957,30.72 L1.26086957,1.28 L27.7391304,1.28 L27.7391304,30.72 Z" id="Shape-Copy" fill="#116FFF"></path>
                                  <path d="M10.2756938,5.08282158 L4.40386875,5.08282158 L4.40386875,11.0313693 L10.2756938,11.0313693 L10.2756938,5.08282158 Z M8.8077375,9.54423237 L5.871825,9.54423237 L5.871825,6.56995851 L8.8077375,6.56995851 L8.8077375,9.54423237 Z" id="Shape-Copy-2" fill="#116FFF"></path>
                                  <path d="M10.2756938,13.2620747 L4.40386875,13.2620747 L4.40386875,19.2106224 L10.2756938,19.2106224 L10.2756938,13.2620747 Z M8.8077375,17.7234855 L5.871825,17.7234855 L5.871825,14.7492116 L8.8077375,14.7492116 L8.8077375,17.7234855 Z" id="Shape-Copy-5" fill="#116FFF"></path>
                                  <path d="M10.2756938,21.4413278 L4.40386875,21.4413278 L4.40386875,27.3898755 L10.2756938,27.3898755 L10.2756938,21.4413278 Z M8.8077375,25.9027386 L5.871825,25.9027386 L5.871825,22.9284647 L8.8077375,22.9284647 L8.8077375,25.9027386 Z" id="Shape-Copy-6" fill="#116FFF"></path>
                                  <polygon id="Path-Copy-9" fill="#116FFF" points="13.2116063 5.82639004 24.9552563 5.82639004 24.9552563 7.31352697 13.2116063 7.31352697"></polygon>
                                  <polygon id="Path-Copy-10" fill="#116FFF" points="13.2116063 8.8006639 24.9552563 8.8006639 24.9552563 10.2878008 13.2116063 10.2878008"></polygon>
                                  <polygon id="Path-Copy-11" fill="#116FFF" points="13.2116063 14.0056432 24.9552563 14.0056432 24.9552563 15.4927801 13.2116063 15.4927801"></polygon>
                                  <polygon id="Path-Copy-12" fill="#116FFF" points="13.2116063 16.979917 24.9552563 16.979917 24.9552563 18.4670539 13.2116063 18.4670539"></polygon>
                                  <polygon id="Path-Copy-13" fill="#116FFF" points="13.2116063 22.1848963 24.9552563 22.1848963 24.9552563 23.6720332 13.2116063 23.6720332"></polygon>
                                  <polygon id="Path-Copy-14" fill="#116FFF" points="13.2116063 25.1591701 24.9552563 25.1591701 24.9552563 26.6463071 13.2116063 26.6463071"></polygon>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
      
    </div>
    <div class="title">Documento de Recepción</div>
  </div>

  <div class="body">

    <ul class="list-brand">
      <li>
        <img class="logo-brand" src="../../../assets/images/logo-falabella.png">
        <p class="description">
          <span class="title">Guía de Despacho:</span> Etiam tincidunt mi sit amet laoreet condimentum. Duis varius commodo libero a viverra.
        </p>
      </li>
      <li>
        <img class="logo-brand" src="../../../assets/images/logo-sodimac.png">
        <p class="description">
          <span class="title">Pallet:</span> Praesent molestie bibendum porta. Vestibulum hendrerit gravida magna quis imperdiet.
        </p>
        <p class="description">
          <span class="title">Viaje:</span> Mauris quis dui faucibus, auctor libero ac, finibus tortor.
        </p>
      </li>
      <li>
        <img class="logo-brand" src="../../../assets/images/logo-tottus.png">
        <p class="description">
          <span class="title">Tim:</span> Cras consectetur sem vel ante dapibus, sed elementum lorem interdum.
        </p>
        <p class="description">
          <span class="title">Tote:</span> Donec ultricies maximus tincidunt.
        </p>
      </li>
    </ul>
  </div>
</div>
