<ion-app>
  <ion-split-pane contentId="customOption" when="md" >
    <ion-menu contentId="customOption" side="start" menuId="custom" class="my-custom-menu" [ngClass]="{'split-pane-expanded':expanded}">
      <ion-content>
        <ion-list>
          <ion-item routerLink="/trazability" routerLinkActive="active"><ion-icon color="primary" name="calendar" ios="ios-calendar" md="md-calendar" margin-end> </ion-icon><span [ngStyle]="{'display':expanded ? 'block' : 'none'}">Trazabilidad</span></ion-item>
          <ion-item routerLink="/reception" routerLinkActive="active"><ion-icon color="primary" name="cube" ios="ion-cube" md="md-cube" margin-end> </ion-icon><span [ngStyle]="{'display':expanded ? 'block' : 'none'}">Recepcion</span></ion-item>
        </ion-list>
        <div class="expand-button">
          <ion-button fill="clear" color="primary" (click)="expand()"><ion-icon name="{{iconButton}}"></ion-icon></ion-button>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="customOption" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
