// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

@import "./../assets/scss/icons.scss";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~saturn-datepicker/bundle.css';


.split-pane-ios.split-pane-visible > .split-pane-side,
.split-pane-md.split-pane-visible > .split-pane-side {
  max-width: 70px;
  min-width: 70px;
  border-right: 1px solid #DDD;
}

.split-pane-expanded {
  max-width: 200px !important;
  min-width: 200px !important;

}

.label-option {
  transition: all .3s ease-out;
}

.my-custom-menu {
  transition: all .3s ease-out;
}

.expand-button {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  text-align: center;
}
