<div class="modal-content">
  <ion-icon class="custom-modal-close-icon icon close"
    (click)="finish()"
  ></ion-icon>

  <div class="header">
    <div class="icon">

      <svg width="60px" height="60px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
        <title>Group 35</title>
        <desc>Created with Sketch.</desc>
        <g id="Recepción-Bultos-en-Tienda---v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Group-35">
                <g id="Group-37-Copy-10" fill="#EAEAEA">
                    <circle id="Oval-Copy-7" cx="30" cy="30" r="30"></circle>
                </g>
                <g id="Group-16-Copy-2" transform="translate(14.000000, 14.000000)" fill-rule="nonzero">
                    <g id="Group-15">
                        <path d="M29.3713217,8.28070172 L25.4601603,6.54084427 L23.7187952,2.62817521 L19.4623762,3.07268823 L15.999497,0.561403477 L12.5346076,3.07268823 L8.28019874,2.62817521 L6.54009002,6.53908536 L2.62742096,8.28070172 L3.07218518,12.5371208 L0.560900491,16 L3.07218518,19.4648895 L2.62742096,23.7192982 L6.53858231,25.4591557 L8.28019874,29.3718247 L12.5366178,28.9273118 L15.999497,31.4385965 L19.4643864,28.9273118 L23.7187952,29.3718247 L25.4586527,25.4606634 L29.3713217,23.7192982 L28.9265575,19.4628792 L31.4380935,16 L28.9265575,12.5351105 L29.3713217,8.28070172 Z M12.9117777,22.1754386 L8.54253426,17.8061951 L9.99894874,16.3550576 L12.9117777,19.2626096 L21.6447364,10.529651 L23.1011508,11.9858141 L12.9117777,22.1754386 Z" id="Shape" stroke="#116FFF" stroke-width="0.5" fill="#94C1FF"></path>
                        <path d="M29.4396379,12.3571428 L29.8646881,8.29376254 C29.887827,8.07168003 29.7655936,7.86016093 29.5616197,7.76936618 L25.8284708,6.10814889 L24.1672535,2.37474843 C24.0759557,2.17127762 23.8646881,2.04929574 23.6428572,2.07142854 L19.5787224,2.49622732 L16.2703722,0.0980885312 C16.0900402,-0.0326961771 15.8460765,-0.0326961771 15.6657445,0.0980885312 L12.3571429,2.49622732 L8.29325956,2.07142854 C8.0716801,2.05030178 7.86116697,2.17203216 7.7688632,2.37424544 L6.10764591,6.10764584 L2.37424544,7.76936618 C2.17052314,7.85990944 2.04828971,8.07142854 2.0714286,8.29325956 L2.49622738,12.3571428 L0.0980885312,15.6657445 C-0.0326961771,15.8460764 -0.0326961771,16.0900402 0.0980885312,16.2703722 L2.49622738,19.5787223 L2.0714286,23.6428571 C2.04803821,23.8646881 2.17027165,24.0764587 2.37424544,24.1672535 L6.10764591,25.8284708 L7.7688632,29.5618712 C7.86066398,29.7645875 8.0714286,29.8865694 8.29325956,29.8651911 L12.3571429,29.4401408 L15.6657445,31.8385312 C15.8460765,31.9693159 16.0900402,31.9693159 16.2703722,31.8385312 L19.5787224,29.4401408 L23.6428572,29.8651911 C23.8646881,29.8875754 24.0757042,29.7655935 24.1672535,29.5623742 L25.8284708,25.8289738 L29.5616197,24.1672535 C29.765342,24.0764587 29.8875755,23.8651911 29.8646881,23.6433602 L29.4396379,19.5792253 L31.8380282,16.2708752 C31.9690644,16.0905432 31.9690644,15.8460764 31.8380282,15.6657445 L29.4396379,12.3571428 Z M28.4899397,19.1338028 C28.4152414,19.23667 28.3812878,19.3634305 28.3946177,19.4896881 L28.8005533,23.377515 L25.2283703,24.9678068 C25.1116701,25.0191147 25.0181086,25.112173 24.9665493,25.2288732 L23.3775151,28.8010563 L19.4886821,28.3946177 C19.3624246,28.3815392 19.2359155,28.4157444 19.1332998,28.4904427 L15.9680584,30.7847082 L12.8023139,28.4904427 C12.7145372,28.4263078 12.6089034,28.3918511 12.500503,28.3921026 C12.4823944,28.3921026 12.4642857,28.3921026 12.4489437,28.3946177 L8.55985915,28.8010563 L6.97082498,25.2288732 C6.91901408,25.112173 6.82595577,25.0188632 6.70925557,24.9670523 L3.13506038,23.377515 L3.54099596,19.4896881 C3.55407443,19.3634305 3.52012076,19.23667 3.44567408,19.1338028 L1.15140845,15.9680583 L3.44567408,12.8023139 C3.52012076,12.6994466 3.55407443,12.5726861 3.54099596,12.4464286 L3.13506038,8.55835007 L6.70724349,6.96830979 C6.82394369,6.91700201 6.91725351,6.82394363 6.96881291,6.70724343 L8.55784708,3.13506031 L12.4469316,3.54149895 C12.5729376,3.55407443 12.6994467,3.5198692 12.8023139,3.44567401 L15.9680584,1.15140839 L19.1338028,3.44567401 C19.2364185,3.52012069 19.3629275,3.55407443 19.4891851,3.54149895 L23.3780181,3.13506031 L24.9670523,6.70724343 C25.0188632,6.82394363 25.112173,6.91700201 25.2288732,6.96881285 L28.8010564,8.55835007 L28.3951207,12.4464286 C28.3817907,12.5726861 28.4157445,12.6994466 28.4904427,12.8023139 L30.7844567,15.9680583 L28.4899397,19.1338028 Z" id="Shape" stroke="#116FFF" stroke-width="0.5" fill="#116FFF"></path>
                        <path d="M21.9826459,10.1285211 C21.7814386,9.92731387 21.4554829,9.92731387 21.2542756,10.1285211 L12.8775151,18.5052816 L10.3262073,15.9587525 C10.1252515,15.7582998 9.79979882,15.7582998 9.59884307,15.9587525 L8.13858147,17.4102113 C8.0417505,17.5067907 7.98717305,17.6380784 7.98717305,17.7748993 C7.98717305,17.9117203 8.0417505,18.043008 8.13858147,18.1395875 L12.5118209,22.5128269 C12.7127767,22.7137827 13.0389839,22.7137827 13.2401911,22.5128269 L23.4388833,12.3138833 C23.639839,12.1129275 23.639839,11.7867203 23.4388833,11.585513 L21.9826459,10.1285211 Z" id="Path" stroke="#116FFF" fill="#116FFF"></path>
                        <path d="M12.8775151,21.4207746 L9.23314888,17.7764084 L9.9615191,17.0497988 L12.513833,19.5968309 C12.7147887,19.7975352 13.040493,19.7975352 13.2417002,19.5968309 L21.6184607,11.2208249 L22.347837,11.9502011 L12.8775151,21.4207746 Z" id="Path" fill="#FFFFFF"></path>
                    </g>
                </g>
            </g>
        </g>
      </svg>
      
    </div>
    <div class="title">Recepción Exitosa</div>
  </div>

  <div class="body">

    <ion-row>
      <ion-col>
        <div class="item-total right">
          <span class="amounts"><span class="number">{{ navParams.data.total }} bultos y {{ navParams.data.surplus }} bultos sobrantes</span> han sido recepcionados exitosamente.</span>
        </div>
      </ion-col>
    </ion-row>
    
    <div class="buttons-bar">

      <ccc-button
        title="ACEPTAR"
        type="primary"
        (buttonClick)="finish()"
      ></ccc-button> <!-- (click)="finish()" class="block" -->

    </div>

  </div>
</div>