@import '../../../assets/scss/colors';
@import '../../../assets/scss/mixins';

.modal-content {    
    .header {
        height: 60px;
        display: flex;
        width: 100%;
        flex-direction: row;
        .icon {
            width: 60px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
        }
        .title {
            flex: 1;
            align-items: center;
            display: flex;
            color: #212529;
            font-family: 'Avenir LT Std 85 Heavy';
            font-size: 24px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    .body {
        padding: 40px 0;

        .item-total {
            height: 100px;
            max-height: 100px;
            overflow: hidden;
            @include border-radius(6px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            /* .title {
                font-size: 13px;
                margin-bottom: 10px;
            } */

            .amounts {
                font-size: 17px;
                .number {
                    font-family: 'Avenir LT Std 95 Black';
                }
            }

            // .title,
            .amounts {
                font-family: 'Avenir LT Std 45 Book';
            }

            &.right {
                background-color: #EDF5FD;
                border: 1px solid rgba(28,133,232,0.3);

                // .title,
                .amounts {
                    color: $color-text-third;
                    padding: 15px;
                }
            }
        }

        .buttons-bar {
            // background-color: orange;
            position: absolute;
            bottom: 30px;
            left: 30px;
            width: calc(100% - 60px);
            padding: 30px 0 0 0;
            border-top: 1px solid #EBEBEB;
            height: calc(55px + 30px);
            max-height: calc(55px + 30px);
            text-align: right;
        }
    }
}

.close {
    position: absolute;
    font-size: 18px;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #908f8f;
    @include transitions(color .3s ease);

    &:hover {
        color: $color-text-secondary;
    }
}
