<div class="input-container" 
	[class.focused]="inputFocused" 
	[class.has-value]="modelValue"
	[class.with-modal]="validatedModal"
	[ngClass]="{ 'with-icon': validatedIcon !== '' }"
>

	<ion-icon *ngIf="validatedIcon !== ''"
		class="{{ validatedIcon }} icon input-icon"
	></ion-icon>
	
	<span class="title" [class.disabled]="disabled">{{ placeholder }}</span>

	<input 
		class="input"
		type="{{ type }}"
		(focus)="inputFocused = true"
		(focusout)="inputFocused = false; null"
		[ngModel]="model"
		(ngModelChange)="model = $event"

		[attr.disabled]="disabled ? '' : null"
	/>

	<ion-icon *ngIf="validatedModal"
		class="custom-information-icon icon information-modal-icon"
		(click)="suggestionWasClicked()"
	></ion-icon>

</div>


