<h1><ion-icon color="primary" name="calendar" ios="ios-calendar" md="md-calendar" margin-end></ion-icon>Trazabilidad</h1>
<ion-card>
    <ion-card-content>
        <form [formGroup]="filterForm" (ngSubmit)="search()">
            <ion-grid>
                <!-- Input Forms-->

                <ion-row class="cont-inputs" padding-bottom margin-bottom>
                    <ion-col sizeXs="12" sizeMd="5">

                        <ccc-input-text
                                type="text"
                                placeholder="N° Orden"
                                icon="custom-document-icon"
                                [(model)]="orderNumber"
                                [hasModal]="false"
                        ></ccc-input-text>
                        <div class="cont-link color-success">
                            <span (click)="massiveSearchModal()">Búsqueda Masiva</span>
                        </div>
                    </ion-col>
                    <ion-col sizeXs="12" sizeMd="5">
                        <ccc-input-text
                                type="text"
                                placeholder="RUT"
                                icon="custom-document-icon"
                                [(model)]="rut"
                                [hasModal]="false"
                        ></ccc-input-text>
                        <div class="cont-link color-primary">
                            <span (click)="showAdvance()">Búsqueda Avanzada</span>
                        </div>
                    </ion-col>
                    <ion-col sizeXs="12" sizeMd="2">
                        <ion-button type="submit" class="btn-search" expand="block" color="primary">
                            Buscar
                            <ion-icon name="search"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>

                <!-- Input Forms-->

                <!--Selects Forms-->
                <form *ngIf="advanceForm" formGroupName="advance">
                    <ion-row>
                        <!--Order-->
                        <ion-col sizeXs="12" sizeMd="4">
                            <mat-form-field class="select-ccc">
                                <mat-label>Negocio de Origen</mat-label>
                                <mat-select formControlName="originBusiness" name="originBusiness" multiple>
                                    <mat-option value="Tottus">Tottus</mat-option>
                                    <mat-option value="Falabella">Falabella</mat-option>
                                    <mat-option value="Sodimac">Sodimac</mat-option>
                                    <mat-option value="Linio">Linio</mat-option>
                                    <mat-option value="Tottus">Tottus</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ion-col>

                        <!--Destiny-->
                        <ion-col sizeXs="12" sizeMd="4">
                            <mat-form-field class="select-ccc">
                                <mat-label>Negocio de Destino</mat-label>
                                <mat-select formControlName="destinyBusiness" name="destinyBusiness" multiple>
                                    <mat-option value="Tottus">Tottus</mat-option>
                                    <mat-option value="Falabella">Falabella</mat-option>
                                    <mat-option value="Sodimac">Sodimac</mat-option>
                                    <mat-option value="Linio">Linio</mat-option>
                                    <mat-option value="Tottus">Tottus</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ion-col>

                        <!--Retirement-->
                        <ion-col sizeXs="12" sizeMd="4">
                            <mat-form-field class="select-ccc">
                                <mat-label>Punto de Retiro</mat-label>
                                <mat-select formControlName="withdrawalPoint" name="withdrawalPoint" multiple>
                                    <mat-option value="Tottus">Tottus</mat-option>
                                    <mat-option value="Falabella">Falabella</mat-option>
                                    <mat-option value="Sodimac">Sodimac</mat-option>
                                    <mat-option value="Linio">Linio</mat-option>
                                    <mat-option value="Tottus">Tottus</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ion-col>

                        <!--Buy Date-->
                        <ion-col sizeXs="12" sizeMd="6">
                            <!--<mat-form-field class="select-ccc">
                                <input matInput [matDatepicker]="picker" placeholder="Fecha de Compra">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>-->
                            <mat-form-field class="select-ccc">
                                <input matInput
                                       placeholder="Fecha de Compra"
                                       [satDatepicker]="picker3"
                                       formControlName="buyDate">
                                <sat-datepicker #picker3 [rangeMode]="true">
                                </sat-datepicker>
                                <sat-datepicker-toggle matSuffix [for]="picker3"></sat-datepicker-toggle>
                            </mat-form-field>
                        </ion-col>

                        <!--Retirement Date-->
                        <ion-col sizeXs="12" sizeMd="6">
                            <!--<mat-form-field class="select-ccc">
                                <input matInput [matDatepicker]="picker1" placeholder="Fecha de Retiro">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>-->
                            <mat-form-field class="select-ccc">
                                <input matInput
                                       placeholder="Fecha de Retiro"
                                       [satDatepicker]="picker4"
                                       formControlName="withdrawalDate">
                                <sat-datepicker #picker4 [rangeMode]="true">
                                </sat-datepicker>
                                <sat-datepicker-toggle matSuffix [for]="picker4"></sat-datepicker-toggle>
                            </mat-form-field>
                        </ion-col>

                        <!--OC State-->
                        <ion-col sizeXs="12" sizeMd="6">
                            <mat-form-field class="select-ccc">
                                <mat-label>Estado OC / Sub Orden</mat-label>
                                <mat-select formControlName="orderStatus" name="orderStatus" multiple>
                                    <mat-option value="ocCreada">OC Creada</mat-option>
                                    <mat-option value="ocConfirmada">OC Confirmada</mat-option>
                                    <mat-option value="enPreparacion">En preparación</mat-option>
                                    <mat-option value="enRuta">En Ruta</mat-option>
                                    <mat-option value="tiendaErronea">Tienda Errónea</mat-option>
                                    <mat-option value="listoUbicar">Listo para ubicar</mat-option>
                                    <mat-option value="listoEntrega">Listo para entregar</mat-option>
                                    <mat-option value="cancelado">Cancelado</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ion-col>

                        <!--Invoice Number-->
                        <ion-col sizeXs="12" sizeMd="6">
                            <mat-form-field class="select-ccc">
                                <input formControlName="invoiceNumber" name="invoiceNumber" matInput placeholder="Número de Boleta">
                            </mat-form-field>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-grid>
        </form>
    </ion-card-content>
</ion-card>



<!--<form [formGroup]="filterForm" (ngSubmit)="search()">-->
<!--<ion-grid>-->
<!--  <ion-card>-->
<!--    <ion-card-content>-->
<!--      <ion-row>-->
<!--        <ion-col size="10">-->
<!--          <ion-item>-->
<!--            <ion-label id="labelRandom">Order Number:</ion-label>-->
<!--            <ion-input id="orderNumber" type="text" formControlName="orderNumber"></ion-input>-->
<!--            <ion-input (click)="massiveSearchModal()">Busqeda Masiva</ion-input>-->
<!--          </ion-item>-->
<!--          <ion-item>-->
<!--            <ion-label>RUT:</ion-label>-->
<!--            <ion-input id="rut" type="text" formControlName="rut"></ion-input>-->
<!--          </ion-item>-->
<!--        </ion-col>-->
<!--        <ion-col size="2">-->
<!--          <ion-button type="submit">search</ion-button>-->
<!--        </ion-col>-->
<!--      </ion-row>-->
<!--    </ion-card-content>-->

<!--  </ion-card>-->

<!--  <ion-row>-->
<!--    <ion-col size="12">-->
<!--      <ion-item>-->
<!--        <ion-button (click)="showAdvance()">-->
<!--          <ion-label>Advance Search</ion-label>-->
<!--        </ion-button>-->
<!--      </ion-item>-->
<!--    </ion-col>-->
<!--  </ion-row>-->
<!--  <ion-row>-->
<!--    <ion-col size="12">-->
<!--      <form *ngIf="advanceForm" id="advance-filter-form" formGroupName="advance" >-->
<!--        <ion-item>-->
<!--          <ion-label>Origin:</ion-label>-->
<!--          <ion-select id="originBusiness"  multiple="true" formControlName="originBusiness">-->
<!--            <ion-select-option *ngFor="let origin of objectKeys(origins)" value="{{origin}}">{{origins[origin]}}</ion-select-option>-->
<!--          </ion-select>-->
<!--        </ion-item>-->
<!--        <ion-item>-->
<!--          <ion-label>Destiny:</ion-label>-->
<!--          <ion-select id="destinyBusiness"  multiple="true" formControlName="destinyBusiness">-->
<!--            <ion-select-option *ngFor="let origin of objectKeys(origins)" value="{{origin}}">{{origins[origin]}}</ion-select-option>-->
<!--          </ion-select>-->
<!--        </ion-item>-->
<!--        <ion-item>-->
<!--          <ion-label>Withdrawal Point:</ion-label>-->
<!--          <ion-select id="withdrawalPoint"  multiple="true" formControlName="withdrawalPoint">-->
<!--            <ion-select-option *ngFor="let origin of objectKeys(origins)" value="{{origin}}">{{origins[origin]}}</ion-select-option>-->
<!--          </ion-select>-->
<!--        </ion-item>-->
<!--        <ion-item>-->
<!--          <ion-label>Buy Date:</ion-label>-->
<!--          <ion-datetime id="buyDate"  multiple="true" formControlName="buyDate" display-format="MMM DD, YYYY HH:mm"></ion-datetime>-->
<!--        </ion-item>-->
<!--        <ion-item>-->
<!--          <ion-label>Withdrawal Date:</ion-label>-->
<!--          <ion-datetime id="withdrawalDate"  multiple="true" formControlName="withdrawalDate" display-format="MMM DD, YYYY HH:mm"></ion-datetime>-->
<!--        </ion-item>-->
<!--        <ion-item>-->
<!--          <ion-label>Order Status:</ion-label>-->
<!--          <ion-select id="orderStatus" formControlName="orderStatus">-->
<!--            <ion-select-option *ngFor="let origin of objectKeys(origins)" value="{{origin}}">{{origins[origin]}}</ion-select-option>-->
<!--          </ion-select>-->
<!--        </ion-item>-->
<!--        <ion-item>-->
<!--          <ion-label>Invoice Number:</ion-label>-->
<!--          <ion-select id="invoiceNumber" formControlName="invoiceNumber">-->
<!--            <ion-select-option *ngFor="let origin of objectKeys(origins)" value="{{origin}}">{{origins[origin]}}</ion-select-option>-->
<!--          </ion-select>-->
<!--        </ion-item>-->
<!--      </form>-->
<!--    </ion-col>-->
<!--  </ion-row>-->
<!--</ion-grid>-->
<!--</form>-->
