.cont-link{
    padding: 15px 0;
    text-align: right;
    text-decoration: underline;
    font-size: .8rem;
    span {
        cursor: pointer;
    }
}

.color-success{
    color: #0ec254;
}

.color-primary{
    color: rgb(0,123,255);
}

.cont-inputs{
    border-bottom: 1px solid #DDD;
}

mat-form-field{
    width: 100%;
}

.btn-search{
    --border-radius: 5px;
    --padding-top: 30px;
    --padding-bottom: 30px;
}

ion-grid {
    --ion-grid-padding-md: 16px;
}
