// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import './assets/scss/fonts.scss';
@import './assets/scss/colors.scss';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.app-icons {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
}

.modal-ccc-type-1 {
    --min-width: 60%;
    --max-width: 60%;
}

.modal-ccc-type-2 {
    --min-width: 45%;
    --max-width: 45%;
}

.modal-ccc-type-1,
.modal-ccc-type-2 {
    .ion-page {
        padding: 30px !important;
        .modal-content {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
        }
    }

    @media screen and (max-width: 992px) {
        --min-width: 95%;
        --max-width: 95%;
    }

    @media screen and (max-width: 576px) {
        --min-width: 100%;
        --max-width: 100%;
        --min-height: 100%;
        --max-height: 100%;
    }
}

.footer-bar {
    .modal-content {
        height: calc(100% - 55px - 30px - 15px) !important;
    }
}

.modal-height-document-reception {
    --min-height: 600px;
    --max-height: 600px;
    @media screen and (max-height: 600px) {
        --min-height: 100%;
        --max-height: 100%;
    }
}

.modal-height-total-received {
    --min-height: 550px;
    --max-height: 550px;
    @media screen and (max-height: 550px) {
        --min-height: 100%;
        --max-height: 100%;
    }
}

.modal-height-successful-reception {
    --min-height: 410px;
    --max-height: 410px;
    @media screen and (max-height: 410px) {
        --min-height: 100%;
        --max-height: 100%;
    }
}

input[disabled] {
    cursor: no-drop !important;
    pointer-events: none;
}

.page-title {
    > .text {
        font-family: 'Raleway';
        font-weight: 400;
        color: #233539;
        font-size: 30px;
    }
    > .icon {
        color: $color-primary;
        margin-right: 15px;
        font-size: 35px;
    }
    > .text,
    > .icon {
        vertical-align: middle;
    }
}